<?xml version="1.0" encoding="utf-8"?>
<!-- 同 FolderProfile_linux-x64：需在 Linux 上链接（本机 Windows 无法交叉 AOT 到 Linux）。 -->
<Project>
  <PropertyGroup>
    <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
    <PublishAot>true</PublishAot>
    <StripSymbols>true</StripSymbols>
  </PropertyGroup>
  <Import Project="$(MSBuildThisFileDirectory)..\..\..\PublishProfile.Common.props" />
</Project>
