<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishAot>true</PublishAot>
    <StripSymbols>true</StripSymbols>
  </PropertyGroup>
  <Import Project="$(MSBuildThisFileDirectory)..\..\..\PublishProfile.Common.props" />
</Project>
